{% extends "base.html" %}
{% block title %} About Us {% endblock %}
{% block content %} 
<div class="space" style="height: 40px ; background: none; margin-top: 100px;"></div>
 <!--  ************************* About Us Content Start Here  ************************** -->
            <div class="about-us">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <img src="static/images/blog/blog_01.jpg" alt="">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <h2>Welcome to  Locum Force</h2>
                            <p>At Locum Force, we try our best to be the most reliable rescource for our clients when they are in need of pharmacy locum and permanent positions. We make sure to help and provide support to our clients at every step of their journey!
                            </p>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        
        <!-- ######## About US End ####### -->
        
        


    <!-- ################# Our Team Starts Here#######################--->
    <section class="our-team">
        <div class="container">
            <div class="inner-title">
                <h2>Meet our Team</h2>
                <p>here are our innovative and experienced team members</p>
            </div>
            <div class="row team-member">
                <div class="col-md-3 col-sm-6">
                    <div class="user-card">
                        <div class="userar">
                            <img class="teammempic" alt="" src="static/images/team/team-memb1.jpg">
                        </div>
                        <div class="detfs">
                            <p> Locum Force<i> - Surgeon</i></p>
                          
                            <br> 
                            <p >3+ Years of Experience  </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="user-card">
                        <div class="userar">
                            <img class="teammempic" alt="" src="static/images/team/team-memb2.jpg">
                        </div>
                        <div class="detfs">
                            <p> Locum Force<i> - Doctor</i></p>
                        
                             <br>
                            <p >3+ Years of Experience  </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="user-card">
                        <div class="userar">
                            <img class="teammempic" alt="" src="static/images/team/team-memb3.jpg">
                        </div>
                        <div class="detfs">
                            <p> Locum Force<i> - Pharmacist</i></p>
                        
                              <br>   
                            <p >3+ Years of Experience  </p>

                        </div>
                    </div>

                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="user-card">
                        <div class="userar">
                            <img class="teammempic" alt="" src="static/images/team/team-memb4.jpg">
                        </div>
                        <div class="detfs">
                            <p> Locum Force<i> - Nurse</i></p>
                      
                             <br>   
                            <p >3+ Years of Experience  </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
             <!-- ################# Doctors Message Starts Here#######################--->



             <div class="doctor-message">
                <div class="inner-lay">
                    <div class="container">
                        <div class="row">
        
        
                            <div class="col-md-6 col-sm-12 doc-img">
                                <img  src="static/images/doctt.png" alt="">
                            </div>
                            <div class="col-md-6 col-sm-12 doc-det">
                                <h2>Why register with us?</h2>
                                <!-- <span>here are a few reasons</span> -->
        
                                <p>At Locum Force, we try our best to be the most reliable rescource for our clients when they are in need of pharmacy locum and permanent positions. We make sure to help and provide support to our clients at every step of their journey!</p>
        
                                <h4>Contact us on : +44 7578617902</h4>
                            </div>
                        </div>
                    </div>
        
                </div>
        
            </div>

           
        
{% endblock %}