{% extends "base.html" %}

{% block title %} Services {% endblock %}

{% block content %}
    
    <!-- ################# Our Team Starts Here#######################--->

      <!--  ************************* Page Title Starts Here ************************** -->
               <div class="page-nav no-margin row">
                   <div class="container">
                       <div class="row">
                           <h2 style="color: black;">About Locum Forces</h2>
                           <ul>
                               <li> <a href="#" style="color: black;"><i class="fas fa-home"></i> Home</a></li>
                               <li style="color: black;"><i class="fas fa-angle-double-right"></i> About Us</li>
                           </ul>
                       </div>
                   </div>
               </div>
       
         <!-- ######## Page  Title End ####### -->
    

  
         <section class="key-features">
            <div class="container">
                <div class="inner-title">
    
                    <h2>Our Key Features</h2>
                    <p>Have a look at some of our key features</p>
                </div>
    
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="single-key">
                            <a class="fas fa-hospital-alt"></a>
                            <h5>lorem ipsum</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p>
                        </div>
                    </div>
    
                    <div class="col-md-4 col-sm-6">
                        <div class="single-key">
                            <i class="fas fa-user-md"></i>
                            <h5>lorem ipsum</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p>
                        </div>
                    </div>
    
                    <div class="col-md-4 col-sm-6">
                        <div class="single-key">
                            
                            <a class="fas fa-briefcase-medical"></a>
                            <h5>lorem ipsum</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p>
                        </div>
                    </div>
    
                    <div class="col-md-4 col-sm-6">
                        <div class="single-key">
                            <i class="fas fa-capsules"></i>
                            <h5>lorem ipsum</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p>
                        </div>
                    </div>
    
                    <div class="col-md-4 col-sm-6">
                        <div class="single-key">
                            <a class="fas fa-prescription-bottle-alt"></a>
                            <h5>lorem ipsum</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p>
                        </div>
                    </div>
    
    
    
                    <div class="col-md-4 col-sm-6">
                        <div class="single-key">
                            <i class="far fa-thumbs-up"></i>
                            <h5>lorem ipsum</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p>
                        </div>
                    </div>
                </div>
    
    
    
    
    
    
            </div>
    
        </section>
    
   
        
    
{% endblock %}